<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "BB_photo.jpg", width: 300, alt: "Profile Image", class: 'profile-image' %>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                  ></div>
                </div>
              </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>I love the art of creating apps and webpages and the science of logic and problem solving. The thing I love most about development is the ability to create something that not only has form but has function and that can help people with a whole host of needs whether they relate to work, home, worship, play, etc. I enjoy the challenge of learning new languages, troubleshooting code bugs, enhancing code for greater efficiency, and creating a solution for the common (or uncommon) user. My desire is to code apps and webpages that provide solutions and greater efficiency to the tasks of life and work. </p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#certifications"
            aria-expanded="false"
            aria-controler="certifications"
          >
            Certifications
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="certifications">
            <div class="card card-block">
              HTML
            </div>
            <div class="card card-block">
              CSS
            </div>
            <div class="card card-block">
              Javascript
            </div>
            <div class="card card-block">
              Jquery
            </div>
            <div class="card card-block">
              MySQL
            </div>
            <div class="card card-block">
              PHP
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              Bachelor of Science in Computer Science - Lander University, 2001
            </div>
            <div class="card card-block">
              While in college I programmed in BASIC, C++, Visual Basic, Visual C++, SCHEME, Assembly Language, and SQL 
            </div>
            <div class="card card-block">
              I've also programmed in Swift and Java/XML for IOS and Android devices, and have published several apps on both the Apple App Store and the Google Play Store.
            </div>
          </div>
        </p>
      </div>
    </div> 
  </div>
</div>