<div class="app-card-container">
  <div class="card">
    <h1>Contact Me</h1>

    <p>Phone: <%= number_to_phone "8177739049" %></p>
    <p>Email: ben@brookswebpro.com</p>
    <p>Facebook: https://www.facebook.com/brookswebpro</p>
    <p>Twitter: https://twitter.com/brookswebpro</p>

<!--    <p><%= number_to_currency "178" %></p>

    <p><%= number_to_percentage "78.5" %></p>

    <p><%= number_with_delimiter "1789871348765" %></p>
-->
  </div>
</div>